        <section class="section container about" id="about">
            <div><p class="eyebrow">Get to know me!</p><h2>Forever is composed of nows.<em> -Emily Dickinson</em></h2></div>
            <div class="about-copy">
                <p>I’m an Information Systems student at Universitas Indonesia. My coursework includes data structures and algorithms, web development, programming with Java and Python, business management, and project management.</p>
                <p>Beyond academics, I work on communications and lead projects at RISTEK Fasilkom UI, where I’ve gained hands-on experience coordinating people, planning events, and bringing projects from idea to execution. These experiences have strengthened my interest in product and project management, where I hope to combine my technical understanding with my interest in people, strategy, and execution.</p>
            <!-- <div class="tags">
                <span>Communication</span>
                <span>Project coordination</span>
                <span>Technology &amp; business</span>
            </div> -->
            <p class="handwritten"><img src="static/img/imgexperiencetext.png" alt="Khalishah"></p></div>
        
        </section>
