<div
    id="add-project-modal"
    class="project-form-modal"
    popover="auto"
    role="dialog"
    aria-labelledby="add-project-modal-title"
>
    <h2 id="add-project-modal-title">
        Tambah Proyek
    </h2>

        <form
            id="project-form"
            method="post"
            action="{% url 'main:create_project' %}"
            data-ajax-url="{% url 'main:create_project_ajax' %}"
        >
        {% csrf_token %}

        {% for field in form %}
        <div class="portfolio-field">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}

        <div class="portfolio-actions">
            <button
                type="button"
                class="button button-secondary"
                popovertarget="add-project-modal"
                popovertargetaction="hide"
            >
                Batal
            </button>

            <button type="submit" class="button">
                Simpan proyek
            </button>
        </div>
    </form>
</div>